<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <welcome-file-list>
        <welcome-file>index</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>by.epamtc.lyskovkirill.restaurant.controller.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/index</url-pattern>
        <url-pattern>/welcome</url-pattern>
        <url-pattern>/menu</url-pattern>
        <url-pattern>/contacts</url-pattern>
        <url-pattern>/about</url-pattern>
        <url-pattern>/register</url-pattern>
        <url-pattern>/sign_in</url-pattern>
        <url-pattern>/recover</url-pattern>
        <url-pattern>/penalized</url-pattern>
        <url-pattern>/cart</url-pattern>
        <url-pattern>/order_success</url-pattern>
        <url-pattern>/account</url-pattern>
        <url-pattern>/account/profile</url-pattern>
        <url-pattern>/account/orders</url-pattern>
        <url-pattern>/settings</url-pattern>
        <url-pattern>/manage/orders</url-pattern>
        <url-pattern>/administration</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>XSSProtectionFilter</filter-name>
        <filter-class>by.epamtc.lyskovkirill.restaurant.controller.filter.xss.XSSProtectionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>XSSProtectionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>LocaleFilter</filter-name>
        <filter-class>by.epamtc.lyskovkirill.restaurant.controller.filter.LocaleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LocaleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>by.epamtc.lyskovkirill.restaurant.controller.filter.SessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>ClientRoleFilter</filter-name>
        <filter-class>by.epamtc.lyskovkirill.restaurant.controller.filter.ClientRoleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ClientRoleFilter</filter-name>
        <url-pattern>/account</url-pattern>
        <url-pattern>/account/profile</url-pattern>
        <url-pattern>/account/orders</url-pattern>
        <url-pattern>/settings</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>ManagerRoleFilter</filter-name>
        <filter-class>by.epamtc.lyskovkirill.restaurant.controller.filter.ManagerRoleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ManagerRoleFilter</filter-name>
        <url-pattern>/manage/orders</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>AdminRoleFilter</filter-name>
        <filter-class>by.epamtc.lyskovkirill.restaurant.controller.filter.AdminRoleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminRoleFilter</filter-name>
        <url-pattern>/administration</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>UserStatusFilter</filter-name>
        <filter-class>by.epamtc.lyskovkirill.restaurant.controller.filter.UserStatusFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserStatusFilter</filter-name>
        <url-pattern>/cart</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>by.epamtc.lyskovkirill.restaurant.controller.filter.SecurityFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/penalized</url-pattern>
        <url-pattern>/order_success</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>PageFilter</filter-name>
        <filter-class>by.epamtc.lyskovkirill.restaurant.controller.filter.PageFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PageFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>CommandFilter</filter-name>
        <filter-class>by.epamtc.lyskovkirill.restaurant.controller.filter.CommandFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CommandFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>by.epamtc.lyskovkirill.restaurant.controller.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>

    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/error/error404.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.RuntimeException</exception-type>
        <location>/WEB-INF/error/error.jsp</location>
    </error-page>

</web-app>